[project]
	description = HTC EXPLORER 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arslan Kirmani (Kirmaniarslan)
[access "refs/for/refs/*"]
	read = group user/Arslan Kirmani (Kirmaniarslan)
	push = group user/Arslan Kirmani (Kirmaniarslan)
	label-Code-Review = -2..+2 group user/Arslan Kirmani (Kirmaniarslan)
	label-Verified = -1..+1 group user/Arslan Kirmani (Kirmaniarslan)
	rebase = group user/Arslan Kirmani (Kirmaniarslan)
	removeReviewer = group user/Arslan Kirmani (Kirmaniarslan)
	submit = group user/Arslan Kirmani (Kirmaniarslan)
[access "refs/heads/*"]
	read = group user/Arslan Kirmani (Kirmaniarslan)
	create = group user/Arslan Kirmani (Kirmaniarslan)
	push = +force group user/Arslan Kirmani (Kirmaniarslan)
	pushMerge = group user/Arslan Kirmani (Kirmaniarslan)
[access "refs/tags/*"]
	push = +force group user/Arslan Kirmani (Kirmaniarslan)
	pushTag = group user/Arslan Kirmani (Kirmaniarslan)
	pushSignedTag = group user/Arslan Kirmani (Kirmaniarslan)
